streamlit==1.38.0
altair==5.4.1
attrs==24.2.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
fastapi==0.114.2  # If your Streamlit app interacts with FastAPI
gitdb==4.0.11     # If your app works with Git
GitPython==3.1.43 # If your app works with Git
google-auth==2.34.0 # If using Google services
grpcio==1.66.1    # If using Google APIs or other gRPC services
idna==3.9
ipykernel==6.29.5 # For using Jupyter in your Streamlit app
ipython==8.27.0
Jinja2==3.1.4
joblib==1.4.2     # Useful for caching in your app
jsonschema==4.23.0
jupyter_client==8.6.2
jupyter_core==5.7.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
numpy==2.1.1
pandas==2.2.2
protobuf==4.25.4
pydeck==0.9.1     # For geospatial visualizations in Streamlit
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.2  # If using machine learning models in Streamlit
scipy==1.14.1        # If your app performs scientific computations
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
watchdog==4.0.2    # For file changes monitoring
